/**
 * External CSS
 */
@import "partials/tailwind";

/**
 * Default CSS Override
 */
@import "partials/default";

/**
 * Internal CSS
 */

.wp-admin.wp-plugin-kit {

    @import "partials/preloader";
    @import "partials/form";

    .wp-plugin-kit-topbar {
        position: sticky;
        top: 32px;
        z-index: 9989;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(16, 39, 68, 0.08);

        .wp-plugin-kit-topbar-content {
            max-width: 1020px;
            margin: auto;
            height: 70px;
            padding: 15px 0;

            .wp-plugin-kit-topbar-label {
                font-size: 16px;
                font-weight: 400;
                font-family: inherit;
                line-height: 1;
            }
        }
    }

    .wp-plugin-kit-content {
        max-width: 1020px;
        margin: auto;
        margin-top: 50px;
    }
}